<div class="controls">
  Scroll Hijacked : <strong>{{scrollDisabled}}</strong>
  <button (click)="disableScroll()">Hijack</button>
  <button (click)="enableScroll()">Release</button>
</div>
<main #main>
  <div></div>
  <div></div>
  <div class="container" #container>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
    <div class="box" #box></div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</main>
