{{scrollDisabled}}
<button (click)="disableScroll()">Stop</button>
<button (click)="enableScroll()">Resume</button>
<main>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
  <div>
    hello world
  </div>
</main>
